/* Global Styles */
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Adicione estilo aos links no cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header a {
    margin: 0 10px; /* Espaçamento entre os links */
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header a:hover {
    color: #ffd700; /* Cor ao passar o mouse */
    text-decoration: underline;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Film Gallery */
.film-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.film-card {
    flex: 0 0 calc(33.33% - 20px); /* Cresce até um terço do container, com 20px de espaço entre */
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.3s;
    margin-bottom: 20px;
}

.film-card:hover {
    transform: scale(1.05);
}

.film-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 200px; /* Defina a altura máxima que desejar */
}

/* Film Details */
.film-details {
    text-align: center;
    margin: 50px 0;
}

.film-details img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form input[type="submit"]:hover {
    background-color: #555;
}
.user-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f5f5f5;
}

a {
    margin: 0 10px; /* Espaçamento entre os links */
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #3964b4; /* Cor ao passar o mouse */
    text-decoration: underline;
}

.login-form a {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.login-form a:hover {
    color: #555;
    text-decoration: underline;
}


.user-edit {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}
/* Adicione estilo para os links de ação */
.film-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.film-actions a, .film-actions button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.film-actions a:hover, .film-actions button:hover {
    background-color: #555;
}
select,
label {
    display: block;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    max-width: 200px;
    background-color: #fff;
    color: #333;
}

select:hover {
    border-color: #555;
}

/* Estilo para as opções selecionadas */
option[selected] {
    background-color: #f5f5f5;
    font-weight: bold;
}

/* Estilo para os elementos <select> com foco */
select:focus {
    outline: none;
    border-color: #333;
}


/* Estilo para os elementos de filtragem */
.filter-form-2 {
    display: flex;
    align-items: center;
}

.filter-group-2 {
    display: inline-block;
    vertical-align: top; /* Alinhar os elementos no topo */
    margin-right: 20px; /* Espaçamento entre os grupos */
}

.filter-select-2 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    width: 100%; /* Preencher o espaço disponível */
}

.filter-select-2:hover {
    border-color: #555;
}

.filter-select-2:focus {
    outline: none;
    border-color: #333;
}

.filter-actions-2 {
    display: inline-block;
    vertical-align: top; /* Alinhar os elementos no topo */
    margin-left: 20px; /* Espaçamento entre os grupos */
}

.filter-button-2 {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-button-2:hover {
    background-color: #555;
}

